.Content-Container{
  display: flex;
  flex-direction: row;
  flex-basis: 33%;
}

.Left-Bar, .Right-Bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding:1em;
  justify-content: flex-start;
}


.Right-Bar{
  height: 50%;
}


.Image-Container{
  width: 300px;
}
.ToS-Box{
  text-align: left;
  overflow-y: scroll;
  width: 50%;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  height: 250px;
  font-size: 5px;
}
.Image-Container img{
  width: 100%
}

.ToS-Consent{
  padding:1em;
}

.ToS-Consent input{
  margin: 1em;
}