.Content-Container{
  display: flex;
  flex-direction: row;
  flex-basis: 33%;
  margin-top: 4em;
  background-color: blanchedalmond;
  color:black;
}

.Left-Bar, .Right-Bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding:1em;
  justify-content: flex-start;
  z-index: 2;
  width: fit-content;
}

.Clouds{
  top:0;
  left:0;
}
.Clouds .Left-Cloud{
  position: absolute;
  width: 25%;
  left:0;
}
.Clouds .Right-Cloud{
  position: absolute;
  width: 25%;
  right:0;
  z-index: 1;
}
.Right-Bar{
  height: 50%;
}

.ToS-Box-Dark{
  text-align: left;
  overflow-y: scroll;
  width: 50%;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  height: 250px;
  font-size: 5px;
  color:yellow;
}
.ToS-Box-Light{
  text-align: left;
  overflow-y: scroll;
  width: 50%;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  height: 250px;
  font-size: 12px;
  border:black solid 2px;
  border-radius: .25em;
}
.Dark-Continue{
  background-color: red;
  padding:5em;
  border-radius: 2em;
  border:none;
  font-size:20px;
}
.Dark-Continue:hover{
  background-color: lightcoral;

}
.Dark-Checkbox-Label{
  font-size: 4px;
  text-decoration: wavy;
}

.Image-Container img{
  width:10vw;
  height:10vw;
}

.ToS-Consent{
  padding:1em;
}

.ToS-Consent input{
  margin: 1em;
}