.Homework-List{
    text-align: left;
    
}
.Homework-List a{
    text-decoration: none;
    color:aqua;
}
.Homework-List a:hover{
    text-decoration: none;
    color:blue;
}
.Homework{
    display: flex;
    justify-content: center;

}